body {
  background-color: black;
  color: white;
}
* {
  margin: 0;
  padding: 0;
}

.calculator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.container {
  height: 520px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid rgba(128, 128, 128, 0.313);
}
.input {
  /* border: 2px solid red; */
  input {
    width: 90%;
    padding: 20px;
    caret-color: transparent; /* Hides the cursor */
    background-color: #333333;
    border: none;
    outline: none;
    font-size: 1.5em;
    color: white;
    border-radius: 20px;
    text-align: right;
    cursor: not-allowed;
  }
}

.row {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  gap: 0.7em;
  input {
    /* padding: 20px 30px; */
    width: 76px;
    height: 75px;
    cursor: pointer;
    caret-color: transparent;
    background-color: #333333;
    border: none;
    outline: none;
    border-radius: 100px;
    color: rgba(255, 255, 255, 0.865);
    font-size: 1.3em;
    font-weight: 600;
    text-align: center;
  }
  input:nth-child(4) {
    background-color: #df8704;
  }
}
.orangeee input:nth-child(3) {
  background-color: #df8704;
  width: 160px;
  height: 75px;
}
.gray input {
  background-color: #a5a5a5cb;
}

@media only screen and (max-width: 480px) {
  .container {
    height: 410px;
    width: 250px;
    padding-right: 30px;
  }
  .input {
    /* border: 2px solid red; */
    input {
      width: 90%;
      padding: 13px;
    }
  }
  .row {
    gap: 0.5em;
    text-align: center;
    input {
      font-size: 1em;
      width: 56px;
      height: 55px;
    }
  }
  .orangeee input:nth-child(3) {
    background-color: #df8704;
    width: 120px;
    height: 55px;
  }
}
